attrs==20.2.0
beautifulsoup4==4.9.2
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cryptography==3.1.1
dnspython==1.16.0
eventlet==0.28.0
greenlet==0.4.17
idna==2.10
monotonic==1.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pymongo==3.11.0
pyOpenSSL==19.1.0
pyTelegramBotAPI==3.7.3
requests==2.24.0
service-identity==18.1.0
six==1.15.0
soupsieve==2.0.1
urllib3==1.25.10
